[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
numpy = "*"
scipy = "*"
pandas = "*"
scikit-learn = "*"
graphviz = "*"
jupyterlab = "*"
requests = "*"
ipykernel = "*"
matplotlib = "*"

[requires]
python_version = "3.6"
